<div class="popup popup-contact" data-popup-id="contact">
    <a href="#" class="popup__close js-close-wnd"></a>
    <div class="popup__title">Contact</div>

    <form action="">
        <div class="popup__body">
            <div class="popup__body_left">
                <div class="form-row">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" id="name" class="form-input" required>
                </div>

                <div class="form-row">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" id="email" class="form-input" required>
                </div>

                <div class="form-row">
                    <label for="subject" class="form-label">Subject:</label>
                    <input type="text" id="subject" class="form-input">
                </div>
            </div>

            <div class="popup__body_right">
                <div class="form-row">
                    <label for="message" class="form-label">Message:</label>
                    <textarea class="form-area" id="message" required></textarea>
                </div>
            </div>
        </div>

        <div class="popup__btn">
            <button type="submit" class="btn btn-yellow">Send</button>
        </div>
    </form>
</div>