.page-home {
  &__begin {
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 60px;

    &_title {
      margin: 0 0 20px;
      line-height: 100%;
      font-size: 40px;
    }

    &_desc {
      width: 700px;
      margin: 0 auto;
      line-height: 20px;
    }

    &_btn {
      margin-top: 20px;
    }
  }

  &__portfolio {
    .row {
      > div {
        &:nth-last-child(-n+4) {
          a {
            margin-bottom: 0;
          }
        }
      }
    }

    &_item {
      height: 200px;
      display: block;
      border-radius: 2px;
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      background-size: cover !important;

      &:hover {
        .item-hover {
          opacity: 1;
        }
      }


      .item-hover {
        background-color: $yellow-color;
        opacity: 0;
        @include fill;
        padding: 30px 20px 0;
        @include transition(all);
        z-index: 1;


        &__title {
          @include bold;
          color: #2b3036;
          font-size: 18px;
          margin-bottom: 15px;
        }

        &__desc {
          font-size: 13px;
          height: 72px;
          overflow: hidden;
        }

        &__btn {
          position: absolute;
          bottom: 15px;
          right: 0;
          left: 0;
          text-align: center;
        }
      }
    }
  }

  &__contact {
    margin: 50px 0;

    &_inner {
      width: 500px;
      margin: 0 auto;
    }
  }
}