<!--[if lt IE 9]>
    <script src="../static/js/libs/html5shiv.js"></script>
<![endif]-->

<!-- build:scripts -->
<script src="libs/jquery.js"></script>
<script src="helpers/popups.js"></script>
<script src="ui.js"></script>
<!-- endbuild -->

</body>
</html>
