</div>
</div>
<footer class="page-footer" id="footer">
    <div class="container">
        <div class="page-footer__inner">
            <ul class="page-footer__social">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>

                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

{{> layout/bottom}}