* {
  outline: none;
}

body {
  background-color: #1b1b1b;
  @include regular;

  &.home-bg {
    background: url($images_dir + "bg.png")no-repeat top center #1b1b1b;
    background-size: cover;

    &:after {
      content: '';
      height: 50vh;
      z-index: 1;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to top, rgba(27,27,27,1) 0%,rgba(27,27,27,0.7) 52%,rgba(27,27,27,0.01) 100%);
    }

    .page-wrap {
      position: relative;
      z-index: 2;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  @include transition(color);

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.page-default {
  padding-top: 100px;
}