@include sticky-footer(40px, '.page-wrap', '.page-wrap-inner', '.page-footer');

.page-footer {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 20px;

  &__inner {
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }


  &__social {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    
    li {
      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        color: $yellow-color;

        &:hover {
          color: #ffffff;
        }

        i {
          font-size: 16px;
        }
      }
    }
  }
}
