.page-header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  color: #ffffff;

  &__logo {
    color: $yellow-color;
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
    line-height: 100%;
    @include bold;
  }

  &__nav {
    float: right;
    
    &_inner {
      overflow: hidden;
      
      li {
        float: left;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-transform: uppercase;
          line-height: 50px;
          font-size: 15px;

          &.active {
            color: $yellow-color;
            border-bottom: 2px solid $yellow-color;
          }

          &:hover {
            color: $yellow-color;
          }
        }
      }
    }
  }
}
