.popup-overlay {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 10000;
  display: none;
}

.popup {
  min-width: 300px;
  min-height: 300px;
  z-index: 100001;
  @include align;
  border-radius: 5px;
  overflow: hidden;
  background-color: #2b3036;

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    @include sprite('icon-close');
  }

  &__title {
    line-height: 50px;
    padding: 0 20px;
    text-transform: uppercase;
    background-color: $yellow-color;
    @include bold;
    font-size: 20px;
    color: #2b3036;
  }

  &__body {
    padding: 20px;
    overflow: hidden;

    &_left {
      float: left;
      width: 220px;
    }

    &_right {
      margin-left: 240px;
    }
  }

  &__btn {
    text-align: center;
    margin-top: 20px;
  }

  .form {
    &-input {
      width: 100%;
      line-height: 30px;
      padding: 0 10px;
      font-size: 14px;
      border: 1px solid $yellow-color;
      color: #fff;
      border-radius: 4px;
      background-color: transparent;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    
    &-error {
      border-color: red;
    }

    &-message {
      color: red;
      font-size: 13px;
      margin-top: 5px;
      display: inline-block;
      vertical-align: top;
    }

    &-label {
      font-size: 16px;
      color: $yellow-color;
      margin-bottom: 5px;
      display: inline-block;
      vertical-align: top;
    }

    &-area {
      width: 100%;
      line-height: 18px;
      padding: 10px;
      font-size: 14px;
      border: 1px solid $yellow-color;
      color: #fff;
      border-radius: 4px;
      background-color: transparent;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);
      resize: none;
      min-height: 170px;
    }

    &-row {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-contact {
    width: 500px;
  }
}