{{> layout/header body_class="home-bg"}}
<div class="page-default page-home">
    <div class="page-home__begin">
        <div class="container">
            <h1 class="page-home__begin_title">Hi, my name is Vladimir</h1>
            <div class="page-home__begin_desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, blanditiis consequatur debitis,
                earum
                maxime molestias natus nihil nostrum perferendis porro quaerat quidem reiciendis rem sint sunt veritatis
                voluptates? A, dolorem!
            </div>

            <div class="page-home__begin_btn">
                <a href="#" class="btn btn-yellow" data-popup-ajax="ajax/contact.html">contact us</a>
            </div>
        </div>
    </div>

    <div class="page-home__portfolio">
        <div class="container">
            <div class="page-home__portfolio_inner">
                <div class="row">
                    {{# times 8}}
                        <div class="col-md-3">
                            <a href="#" class="page-home__portfolio_item"
                               style="background: url(../content/images/portfolio_01.png)no-repeat;">
                                <div class="item-hover">
                                    <div class="item-hover__title">The Working Title</div>
                                    <div class="item-hover__desc">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, non.
                                        Doloremque, non.
                                    </div>
                                    <div class="item-hover__btn">
                                        <span class="btn btn-dark">read more</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{/times}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}