.btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  border-radius: 20px;
  @include bold;
  @include transition(all);
  padding: 0;
  border: 0;

  &-yellow {
    background-color: $yellow-color;
    color: #302825;
    font-size: 20px;
    padding: 0 30px;
    line-height: 40px;

    &:hover,
    &:focus {
      color: #302825;
      background-color: lighten($yellow-color,5%);
    }
  }

  &-dark {
    background-color: #2b3036;
    color: $yellow-color;
    font-size: 14px;
    padding: 0 25px;
    line-height: 30px;

    &:hover {
      color: $yellow-color;
    }
  }
}