.checkbox-input {
  &:not(checked) {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    margin-left: 5px;
    opacity: 0;
  }
  &:not(checked) + .checkbox-label {
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    margin: 0;
  }
  &:not(checked) + .checkbox-label:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #ccc;
  }
  &:not(checked) + .checkbox-label:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: transparent;
    width: 11px;
    height: 7px;
  }
  &:checked + .checkbox-label:after {
    //@include sprite('check-box');
  }
}
.chekbox-container {
  position: relative;
}